VARIABLES AND TYPES

In [ ]:
print(1,000,000)

In [ ]:
#Write a statement that assigns total_coins with the sum of nickel_count and dime_count

nickel_count = 100
dime_count = 200
total_coins = 0

total_coins = nickel_count + dime_count
print (total_coins)

# Valid  Naming Convention in Python 

## numCars
## _num_cars
## 3rd_place
## num cars
## third_place_
## third_place!
## output
## print_copy

# Meaningful variable names

## The number of students attending UCLA

## The size of a screen measured as its diagonal length

## Number of jelly beans in a jar, as guessed by a user

# Choosing the right varible type

## The number of cars in a parking lot.
## The current temperature in Celsius.
## A person's height in centimeters.
## The average number of kids per household.

# Arithmetic operators - Remember PEMDAS


## Division operator / performs division and returns a floating-point number - 20/10 = 2.0
## Floored division operator // can be used to round down the result - 20//10 = 2
## The modulo operator evaluates to the remainder of the division of the two integer operands -  23 % 10 = 3

In [ ]:
num_items = 5
total_count = 1 + (2*num_items)*4
print (total_count)

In [ ]:
# Conversion Types 

int(1.55)
float("7.99")
str(99)

In [ ]:
#Assign to avg_owls the average owls per zoo. Print avg_owls as an integer. 

num_owls_zooA = 1
num_owls_zooB = 2
num_owls_zooC = 4
num_zoos = 3
avg_owls = 0.0

#Complete ??

In [3]:
# Assign total_owls with the sum of num_owls_A and num_owls_B.

num_owls_A = '3'
num_owls_B = '4'
total_owls = 0
total_owls = (num_owls_A)+(num_owls_B)
#Complete ??
print('Number of owls:', total_owls)

Number of owls: 34