In [ ]:
my_file = open('readme.txt') 
lines = my_file.readlines()
print (lines [1])

In [1]:
# Some of the most expensive cars in the world
lamborghini_veneno = 3900000  # $3.9 million!
bugatti_veryon = 2400000      # $2.4 million!
aston_martin_one77 = 1850000  # $1.85 million!

prices = [lamborghini_veneno, bugatti_veryon, aston_martin_one77]

print('Lamborghini Veneno:', prices[0], 'dollars')
print('Bugatti Veryon Super Sport:', prices[1], 'dollars')
print('Aston Martin One-77:', prices[2], 'dollars')

Lamborghini Veneno: 3900000 dollars
Bugatti Veryon Super Sport: 2400000 dollars
Aston Martin One-77: 1850000 dollars

In [ ]:
#Lists are mutable

my_nums = [5, 12, 20]
print(my_nums)

# Modify a list element
my_nums[1] = -28
print (my_nums)

In [2]:
# Apple (APPL) stock prices 2005-2010
prices = [
    34.62, 76.30, 85.05, 
    180.05, 90.75, 211.98 
]
print(prices)

 # Delete 2005 stock price
prices.pop(0)
print(prices)

# Delete stock price value of 211.98
prices.remove(211.98)
print(prices)

 # Add a new stock price
prices.append(650.00)
print(prices)

[34.62, 76.3, 85.05, 180.05, 90.75, 211.98]
[76.3, 85.05, 180.05, 90.75, 211.98]
[76.3, 85.05, 180.05, 90.75]
[76.3, 85.05, 180.05, 90.75, 650.0]

In [4]:
# Update the price of the second item in house_prices to '$175,000'

house_prices = ['$140,000', '$55,000', '$480,000']
house_prices[1] = "$175,000"
print (house_prices)

['$140,000', '$175,000', '$480,000']

In [8]:
midterm_scores = [99.5, 78.25, 76, 58.5, 100, 87.5, 91, 68, 100]
final_scores = [55, 62, 100, 98.75, 80, 76.5, 85.25]

#Combine the scores into a single list
all_scores = midterm_scores + final_scores

#Students who took the Midterm and Finals
num_midterm_scores = len(midterm_scores)
num_final_scores = len(final_scores)

print(num_midterm_scores, 'students took the midterm.')
print(num_final_scores, 'students took the final.')

#Calculate the number of students that took the midterm but not the final
dropped_students = num_midterm_scores - num_final_scores
print('There were %d students who dropped the class' % (dropped_students))

lowest_final = min(final_scores)
highest_final = max(final_scores)

print('Final scores ranged from the lowest %.1f to the highest %.1f' % (lowest_final, highest_final))

#Calculate the average midterm scores
average_midterm_score =  sum(midterm_scores) / num_midterm_scores
print("The average midterm score is %.2f%" % (average_midterm_score))

9 students took the midterm.
7 students took the final.
There were 2 students who dropped the class
Final scores ranged from the lowest 55.0 to the highest 100.0

ValueError: incomplete format

In [9]:
my_list = [5, 8] 
my_list.append(16)

print (my_list)

[5, 8, 16]

In [10]:
actors = ['Pitt', 'Damon']
actors.insert(1, 'Affleck')
print(actors[0], actors[1], actors[2])

Pitt Affleck Damon

In [ ]:
# Write two statements that first sort my_list, then remove the largest value element from the list, using list methods

In [ ]:
Write a statement that counts the number of elements of my_list that have the value 15.

In [35]:
# Sort short_names in reverse alphabetic order.

short_names = ['Jan', 'Sam', 'Ann', 'Joe', 'Tod']

# What goes here
#dir(short_names)
#help(short_names.sort)
#short_names.sort()
#short_names.reverse()
print(short_names)

AttributeError: 'NoneType' object has no attribute 'reverse'

origins = [4, 8, 10]

for value in origins:
    index = origins.index(value)  # Retrieve index of value in list
    print('Element %d: %s' % (index, value))

In [36]:
# enumerate() function retrieves both the index and corresponding element value at the same time

origins = [4, 8, 10]

for (index, value) in enumerate(origins):
    print('Element %d: %s' % (index, value))

Element 0: 4
Element 1: 8
Element 2: 10